<div id="user" class="user">
  <div id="user_title">
    <%= @user.name %>
  </div>
  <br />
  <div id="user_about" class="user_about">
    <%= @user.about %>
  </div>
  <br />
  <div id="user_email" class="user_email">
    <%= @user.email %>
  </div>
</div>
