<div id="idea" class="idea">
  <div id="idea_title">
    <%= @idea.title %>
  </div>
  <br />
  <div id="idea_owner" class="idea_owner">
    <%= @idea.owner %>
  </div>
  <div id="idea_description" class="idea_description">
    <%= @idea.description %>
  </div>
</div>
