/**
 * Created by JetBrains RubyMine.
 * User: nishithnand
 * Date: 9/23/11
 * Time: 11:21 PM
 * To change this template use File | Settings | File Templates.
 */
$('body').html("<h1><%= escape_javascript(@idea.title) %></h1>").append("<%= escape_javascript(@idea.description) %>");
