<header>
    <% logo = image_tag("ideas-300x103.jpg", :alt => "Bright ideas", :class => "round") %>
    <%= link_to logo, root_path %>
    <nav class="round">
        <ul>
            <li><%= link_to "Home", root_path %></li>
        </ul>
    </nav>
</header>>